body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn {
  margin-bottom: 16px;
}
.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  width: 20px;
  height: 20px;
}